@font-face {
    font-family: "Frizon";
    src: url("aukadot/frizon-1/Frizon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #111;
    color: white;
}

/* LEFT TEXT */
.site-title {
    font-family: serif;
    font-size: 24px;
}

/* CENTER LOGO */
.logo {
    height: 50px;
    filter: invert(1);
    padding-bottom: 15px;

}

/* RIGHT MENU */
.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}