    .hello-button{
      background-color: rgb(80, 80, 255);
      color: aliceblue;
      border: none;
      height: 30px;
      width: 150px;
      border-radius: 10px;
      cursor: pointer;
    }
    .hello-button:hover{
      background-color:rgb(54, 54, 253);
    }
    .hello-button:active{
      background-color:rgb(1, 1, 139);
    }
    .stutt-text{
      font-family: arial;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    .info-text{
      font-family: cursive;
      color: slategray;
      font-size: larger;
    }
    .cool{
      cursor: pointer;
      text-decoration: underline;
      margin-left: 10px;
    }